@model TextIT.Models.Korisnik

    
    <div class="form-horizontal">
        <h4>Korisnik</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ime)
                @Html.ValidationMessageFor(model => model.ime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prezime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prezime)
                @Html.ValidationMessageFor(model => model.prezime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.korisnickoIme, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.korisnickoIme)
                @Html.ValidationMessageFor(model => model.korisnickoIme)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sifra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sifra)
                @Html.ValidationMessageFor(model => model.sifra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipKorisnika, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipKorisnika)
                @Html.ValidationMessageFor(model => model.tipKorisnika)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="KreirajKorisnika"  class="btn btn-default" >Kreiraj korisnika</button>
            </div>
        </div>
    </div>


<div>
    <button id="Nazad"  class="btn btn-default" >Nazad</button>
</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script>
    var id = @Session["ID"]
        $("#Nazad").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/TekstView",
                method: "GET",
                data: { id: id },
                dataType: "html"
            });
            request.success(function (response) {
                $("#content").html(response);
            });
        });

    $(function () {
        $("#KreirajKorisnika").click(function () {
            var model = {
                ime: $("#ime").val(),
                prezime: $("#prezime").val(),
                korisnickoIme: $("#korisnickoIme").val(),
                sifra: $("#sifra").val(),
                email: $("#email").val(),
                tipKorisnika: $("#tipKorisnika").val()

            }
            
            var request = $.ajax({
                url: "http://localhost:50073/api/Korisnik",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(model),
                success: function (msg) {
                    alert("Uspjesno ste unijeli korisnika!");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Desila se greska pri unosu korisnika! Pokusajte ponovo!");
                }
            });
        });
    });
</script>