<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vrijedna djeca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.11.0/angular-translate-loader-static-files.min.js"></script>
    <script src="~/Scripts/MultiLan.js"></script>
    <script src="~/Scripts/Login.js"></script>
    <script src="~/Scripts/Korisnici.js"></script>
    <script src="~/Scripts/Logout.js"></script>
    <script src="~/Scripts/singlePage.js"></script>
</head>


<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TextIT", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <div ng-controller="singlePage">
                        <ul class="nav navbar-nav">
                            <li> <a id="home" href="/"> {{ "POCETNA" | translate }} </a></li>
                            <li> <a id="tekstovi" href="/tekst"> {{ "TEKSTOVI" | translate }} </a></li>
                            <li> <a id="korisnici" href="/korisnik"> {{ "KORISNICI" | translate }} </a></li>

                            @*<li> <a id="home" href="/Home/Index"> {{ "HOME" | translate }} </a></li>
                            <li> <a id="tekstovi" href="/Tekst/Index"> {{ "TEKSTOVI" | translate }} </a></li>
                            <li> <a id="korisnici" href="/Korisnik/Index"> {{ "KORISNICI" | translate }} </a></li>*@

                            @*<li> <button id="home" > {{ "HOME" | translate }} </button></li>
                            <li> <button id="tekstovi" > {{ "TEKSTOVI" | translate }} </button></li>
                            <li> <button id="korisnici" > {{ "KORISNICI" | translate }} </button></li>*@
                        </ul>
                        @Html.Partial("_LoginPartial")

                    </div>
                    
                </div>
                

              
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>


</html>
<script>
    var tipKorisnika = sessionStorage.getItem("tipKorisnika");
    if (tipKorisnika == "admin") {
        document.getElementById('tekstovi').style.visibility = 'visible';
        document.getElementById('korisnici').style.visibility = 'visible';
        document.getElementById('home').style.visibility = 'visible';
    }
    else if (tipKorisnika == "User") {
        document.getElementById('tekstovi').style.visibility = 'visible';
        document.getElementById('korisnici').style.visibility = 'hidden';
        document.getElementById('home').style.visibility = 'visible';
    }
    else {
        document.getElementById('tekstovi').style.visibility = 'hidden';
        document.getElementById('korisnici').style.visibility = 'hidden';
        document.getElementById('home').style.visibility = 'visible';

    }
</script>