<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.11.0/angular-translate-loader-static-files.min.js"></script>
    <script src="~/Scripts/MultiLan.js"></script>
    <script src="~/Scripts/Login.js"></script>
    <script src="~/Scripts/Korisnici.js"></script>
</head>


<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TextIT", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   <!-- <li>@@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@@Html.ActionLink("Tekstovi", "Index", "Tekst")</li>
                    <!--<li>@@Html.ActionLink("Korisnici", "Index", "Korisnik")</li>-->
                    
                     @if (Session["username"] != null)
                     {
                          
                          <li> <a href="/Tekst/Index"> {{ "TEKSTOVI" | translate }} </a></li>
                          <li> <a href="/Korisnik/Index"> {{ "KORISNICI" | translate }} </a></li>
                          
                     }
                     else
                     { 
                          <li> <a href="/Home/Index"> {{ "HOME" | translate }} </a></li>
                     }
                   
                </ul>
                @Html.Partial("_LoginPartial")
               
            </div>
            
            <div align="right" ng-controller="appctrl">
                <img src="/Images/bosnian_flag.png" style="width:30px;height:18px" margin-bottom:10px ng-click="switchLanguage('bs')" />
                <img src="/Images/english_flag.png" style="width:40px;height:30px" ng-click="switchLanguage('en')" />
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
<script>

    var korisnickoIme = sessionStorage.getItem("korisniskoIme");

</script>