@model ServisTextIT.Models.Korisnik

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div ng-controller="KorisnikAdd">
    
    <br />
    <table>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><label style="visibility:hidden">ID</label></td>
            <td><input ng-model="korisnik.id" style="visibility:hidden" /></td>
        </tr>
        <tr>
            <td><label>Ime</label></td>
            <td><input placeholder="ime" ng-model="korisnik.ime" /></td>
        </tr>
        <tr>
            <td><label>Prezime</label></td>
            <td><input ng-model="korisnik.prezime" /></td>
        </tr>
        <tr>
            <td><label>Korisničko ime</label></td>
            <td><input ng-model="korisnik.korisnickoIme" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input ng-model="korisnik.email" /></td>
        </tr>
        <tr>
            <td><label>Tip korisnika</label></td>
            <td>
                <select id="tipKorisnika" style="width:177px" ng-model="korisnik.tipKorisnika" ng-change="selektovaniKorisnik(korisnik)">
                    <option>admin</option>
                    <option>User</option>
                </select>
            </td>

        </tr>
        <tr>
            <td><label>Potvrda</label></td>
            <td><input ng-model="korisnik.potvrda" type="checkbox" /></td>
        </tr>
        <tr>
            <td><label>Sifra</label></td>
            <td><input ng-model="korisnik.sifra"/></td>
        </tr>


    </table>
    <br />
    <button type="button" ng-click="addKorisnik('@Model.korisnikID')" class="btn btn-primary btn-large" ng-model="dodaj">Dodaj korisnika</button>



</div>


@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Korisnik</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ime)
                @Html.ValidationMessageFor(model => model.ime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prezime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prezime)
                @Html.ValidationMessageFor(model => model.prezime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.korisnickoIme, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.korisnickoIme)
                @Html.ValidationMessageFor(model => model.korisnickoIme)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sifra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sifra)
                @Html.ValidationMessageFor(model => model.sifra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipKorisnika, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipKorisnika)
                @Html.ValidationMessageFor(model => model.tipKorisnika)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.potvrda, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.potvrda)
                @Html.ValidationMessageFor(model => model.potvrda)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
