@model ServisTextIT.Models.Korisnik

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Korisnik</h4>
        <hr />
    
        <div ng-controller="KorisnikEdit" data-ng-init="editKorisnik('@Model.korisnikID')">
            <table>
                <tr>
                    <td><label style="visibility:hidden">ID</label></td>
                    <td><input ng-model="korisnik.id" style="visibility:hidden" /></td>
                </tr>
                <tr>
                    <td><label>Ime</label></td>
                    <td><input placeholder="ime" ng-model="korisnik.ime" /></td>
                </tr>
                <tr>
                    <td><label>Prezime</label></td>
                    <td><input ng-model="korisnik.prezime"/></td>
                </tr>
                <tr>
                    <td><label>Korisničko ime</label></td>
                    <td><input ng-model="korisnik.korisnickoIme" /></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input ng-model="korisnik.email" /></td>
                </tr>
                <tr>
                    <td><label>Tip korisnika</label></td>
                    <td><input ng-model="korisnik.tipKorisnika" /></td>
                </tr>
                <tr>
                    <td><label>Potvrda</label></td>
                    <td><input ng-model="korisnik.potvrda" type="checkbox" /></td>
                </tr>
                <tr>
                    <td><label style="visibility:hidden">Sifra</label></td>
                    <td><input ng-model="korisnik.sifra" style="visibility:hidden"/></td>
                </tr>
                
                    
            </table>
            <button type="button" ng-click="updateKorisnik('@Model.korisnikID')" class="btn btn-primary btn-large" ng-model="izmijeni">Izmijeni korisnika</button>

            


        </div>
     @*@Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.korisnikID)

        <div class="form-group">
            @Html.LabelFor(model => model.ime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ime)
                @Html.ValidationMessageFor(model => model.ime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prezime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prezime)
                @Html.ValidationMessageFor(model => model.prezime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.korisnickoIme, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.korisnickoIme)
                @Html.ValidationMessageFor(model => model.korisnickoIme)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sifra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sifra)
                @Html.ValidationMessageFor(model => model.sifra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipKorisnika, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipKorisnika)
                @Html.ValidationMessageFor(model => model.tipKorisnika)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.potvrda, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.potvrda)
                @Html.ValidationMessageFor(model => model.potvrda)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
