@model IEnumerable<TextITMVC.Korisnik>

<div>
    <h2>Korisnik</h2>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.korisnickoIme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korisnickoIme)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    <button id="Izmijeni">Izmijeni</button>
</p>
@*<div>
    <button id="Nazad" class="btn btn-default">Nazad</button>
</div>*@
<script>
    var id = @Session["ID"]
    //$("#Nazad").click(function () {
    //    var request = $.ajax({
    //        url: "http://localhost:50073/HomeView",
    //        method: "GET",
    //        data: { id: id },
    //        dataType: "html"
    //    });
    //    request.success(function (response) {
    //        $("#content").html(response);
    //    });
    //});
    $(function () {
        $("#Izmijeni").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/KorisnikView/Izmjena",
                method: "GET",
                data: { id: id },
                dataType: "html"
            });
            request.success(function (response) {

                $("#content").html(response);
            });
        });
    });

</script>

