@model TextIT.Models.Korisnik

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    
    @Html.AntiForgeryToken()         
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.ime)</td>
            <td>@Html.TextBoxFor(a => a.ime)</td>
            <td>@Html.ValidationMessageFor(a => a.ime)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.sifra)
            </td>
            <td>
                @Html.PasswordFor(a => a.sifra)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.sifra)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
}



