@model TextIT.Models.Tekst

@{
    ViewBag.Title = "KreirajTekst";
}

<h2>KreirajTekst</h2>


@using (Html.BeginForm("KreirajTekst", "TekstView", FormMethod.Post)) 
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.naslov, "Naslov", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.naslov)
                @Html.ValidationMessageFor(model => model.naslov)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sadrzaj, "Sadrzaj", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sadrzaj)
                @Html.ValidationMessageFor(model => model.sadrzaj)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.link, "Link na recenziju", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.link)
                @Html.ValidationMessageFor(model => model.link)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="KreirajTekst" class="btn btn-default" >Kreiraj tekst</button>
            </div>
        </div>
    </div>
}

<div>
    <input id="Nazad" value="Nazad" class="btn btn-default" />
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var id = @Session["ID"]
        $("#Nazad").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/TekstView/Index",
                method: "GET",
                data: { id: id },
                dataType: "html"
            });
            request.success(function (response) {

                $("#content").html(response);
            });
        });
    $(function () {
        $("#KreirajTekst").click(function () {
            
            var model = {
                korisnikID: id,
                naslov: $("#naslov").val(),
                sadrzaj: $("#sadrzaj").val(),
                link: $("#link").val()

            }
            alert(model.naslov);
            var request = $.ajax({

                url: "http://localhost:50073/api/Tekst",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(model),
                success: function (msg) {
                    alert("Uspjesno ste unijeli tekst!");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Desila se greska pri unosu teksta! Pokusajte ponovo!");
                }
            });
        });
    });
</script>