@model TextIT.Models.Tekst

@{
    ViewBag.Title = "KreirajTekst";
}

<h2>KreirajTekst</h2>


@using (Html.BeginForm("KreirajTekst", "Tekst", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.naslov, "Naslov", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.naslov)
                @Html.ValidationMessageFor(model => model.naslov)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sadrzaj, "Sadrzaj", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sadrzaj)
                @Html.ValidationMessageFor(model => model.sadrzaj)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.link, "Link na recenziju", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.link)
                @Html.ValidationMessageFor(model => model.link)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="KreirajTekst" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad", "Index")
</div>
