
@{
    ViewBag.Title = "Dijagram";
}

<h2 style="color:ghostwhite; align-items:center">Statistika</h2>
<hr/>
<br />
<br />
<br />
<div align="left">
    <h4 style="color:ghostwhite">Broj tekstova po korisniku</h4>
    <div align="left">
        <img src="@Url.Action("KorisnikBrojTekstova", "Tekst")" alt="cricketers" />
    </div>
</div>
<br />
<br />
    <div align="right">
        <h4 style="color:ghostwhite">Broj tekstova, korisnika i komentara</h4>
        <div align="right">
            <img src="@Url.Action("PitaDijagram", "Tekst")" alt="cricketers" />
        </div>
    </div>
<br />
<br />
    <div align="left">
        <h4 style="color:ghostwhite">Broj komentara po korisniku</h4>
        <div align="left">
            <img src="@Url.Action("KomentarDijagram", "Tekst")" alt="cricketers" />
        </div>
    </div>
<br />
<br />
<div align="right">
    <h4 style="color:ghostwhite">Broj administratora i korisnika</h4>
    <div align="right">
        <img src="@Url.Action("PitaDijagramAdminUser", "Tekst")" alt="cricketers" />
    </div>
</div>
<br />
<br />
<div align="left">
    <h4 style="color:ghostwhite">Broj komentara po mjesecu</h4>
    <div align="left">
        <img src="@Url.Action("KomentarMjesecDijagram", "Tekst")" alt="cricketers" />
    </div>
</div>
<br />
<br />
<div align="right">
    <h4 style="color:ghostwhite">Broj različitih e-mail adresa korisnika</h4>
    <div align="right">
        <img src="@Url.Action("PitaDijagramMail", "Tekst")" alt="cricketers" />
    </div>
</div>
<br />
<br />
<div align="left">
    <h4 style="color:ghostwhite">Broj tekstova po godinama</h4>
    <div align="left">
        <img src="@Url.Action("TekstGodinaDijagram", "Tekst")" alt="cricketers" />
    </div>
</div>
<br />
<br />
<div align="right">
    <h4 style="color:ghostwhite">Broj tekstova po mjesecu</h4>
    <div align="right">
        <img src="@Url.Action("TekstMjesecDijagram", "Tekst")" alt="cricketers" />
    </div>
</div>