
@{
    ViewBag.Title = "Dijagram";
}

<h2>Statistika</h2>
<hr/>

<div align="center">
    <h4>Broj tekstova po korisniku</h4>
    <div align="center">
        <img src="@Url.Action("KorisnikBrojTekstova", "Tekst")" alt="cricketers" />
    </div>
</div>

    <div align="center">
        <h4>Broj tekstova, korisnika i komentara</h4>
        <div align="center">
            <img src="@Url.Action("PitaDijagram", "Tekst")" alt="cricketers" />
        </div>
    </div>

    <div align="center">
        <h4>Broj komentara po korisniku</h4>
        <div align="center">
            <img src="@Url.Action("KomentarDijagram", "Tekst")" alt="cricketers" />
        </div>
    </div>

<div align="center">
    <h4>Broj administratora i korisnika</h4>
    <div align="center">
        <img src="@Url.Action("PitaDijagramAdminUser", "Tekst")" alt="cricketers" />
    </div>
</div>

<h4>Broj komentara po mjesecu</h4>
<div>
    <div align="center">
        <img src="@Url.Action("KomentarMjesecDijagram", "Tekst")" alt="cricketers" />
    </div>
      </div>

<div align="center">
    <h4>Broj različitih e-mail adresa korisnika</h4>
    <div align="center">
        <img src="@Url.Action("PitaDijagramMail", "Tekst")" alt="cricketers" />
    </div>
</div>
<div align="center">
    <h4>Broj tekstova po godinama</h4>
    <div align="center">
        <img src="@Url.Action("TekstGodinaDijagram", "Tekst")" alt="cricketers" />
    </div>
</div>

<div align="center">
    <h4>Broj komentara po mjesecu</h4>
    <div>
        <img src="@Url.Action("KomentarMjesecDijagram", "Tekst")" alt="cricketers" />
    </div>
</div>