@model TextIT.Models.Grupa

    
    <div class="form-horizontal">
        <h2>Dodaj grupu:</h2>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.nazivGrupe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nazivGrupe)
                @Html.ValidationMessageFor(model => model.nazivGrupe)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.korisnikID, "korisnikID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("korisnikID", String.Empty)
                @Html.ValidationMessageFor(model => model.korisnikID)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="DodajGrupu" class="btn btn-default">Dodaj grupu</button>
            </div>
        </div>
    </div>

<div>
    <input id="Nazad" value="Nazad" class="btn btn-default" />
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var id = @Session["ID"]
        $("#Nazad").click(function () {
            var request = $.ajax({
                url: "http://localhost:50073/GrupaView/Index",
                method: "GET",
                data: { id: id },
                dataType: "html"
            });
            request.success(function (response) {

                $("#content").html(response);
            });
        });
    $(function () {
        $("#DodajGrupu").click(function () {
            var model = {
                korisnikID: id,
                nazivGrupe: $("#nazivGrupe").val()

            }
            alert($("#nazivGrupe").val());
            var request = $.ajax({
                
                url: "http://localhost:50073/api/Grupa",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(model),
                success: function (msg) {
                    alert("Uspjesno ste unijeli grupu!");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Desila se greska pri unosu grupe! Pokusajte ponovo!");
                }
            });
        });
    });
</script>